* {
    font-family: Arial;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #0b0000;
}

.sidebar{
    position: fixed;
    width: 300px;
    height: 100vh;
    z-index: 2;
    padding: 20px;
    background: #0b0000;
}

.homesc {
    position: absolute;
    width: calc(100% - 300px);
    top: 0;
    left: 300px;
    background: #fff;
    z-index: 1000;
    border-radius: 1rem 0 0 1rem;
}

.logo img {
    width: 140px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.4rem;
}

.profile hr {
    width: 250px;
    color:#fff;
    background-color: #fff;
    margin-left: 1150;
    margin-top: 50;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #e2336b;
    margin-top: 30px;
    margin-left: 1000px;
}

.profile-img img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}

.profile h1 {
    font-size: 1.1rem;
    margin-bottom: 450px;
    color: #c4bfbf;
    margin-left: 1180px;
    z-index: 2;
    position: absolute;
}

.profile h2 {
    font-size: 1.1rem;
    margin-bottom: 400px;
    color: #c4bfbf;
    margin-left: 1190px;
    z-index: 8;
    margin-top: 20px;
    position: absolute;
}

.suggested h3{
    font-size: large;
    text-decoration: bold;
    color: #fff;
    margin-top: 40px;
    margin-left: 1150;
}

.sprofile-img img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 1100px;
    margin-top: 50px;
    transform: scale(1.1);
}

#follow {
    margin-left: 1200px;
    margin-top: -40px;
    font-size: 16px;
    color: #fff;
}